[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=iliyasone
Group=iliyasone

WorkingDirectory=/home/iliyasone/PreUniversityPythonAdvanced/
Environment="PYTHONPATH=/home/iliyasone/PreUniversityPythonAdvanced/"
ExecStart=/home/iliyasone/PreUniversityPythonAdvanced/.venv/bin/python /home/iliyasone/PreUniversityPythonAdvanced/main.py

[Install]
WantedBy=multi-user.target
